body{
    padding: 0;
    margin: 0;
}
header{
    padding: 20px 100px;
    background: #0F4A7B;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}
.circle1{
    border: 3px solid #62BECB;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 95%;
}

.circle2{
    border: 2px solid #DD4033;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 93%;
}
.circle3{
    border: 2px solid #62BECB;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 170px;
    left: 91%;
}

.find{
    display: flex;
    justify-content: space-between;
}
.find ul{
    list-style: none;
    margin-top: 5px;
}
.find ul li{
    display: inline;
    margin-left: 10px;
}
.find ul li a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.find ul .active a{
    background: #FFEDED;
    color: #0F4A7B;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
}
header h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* word-spacing: 0px; */
    font-weight: 500;
    margin-top: 50px;
}
a{
    text-decoration: none;
}
main{
    background: #eef6f7;
    padding: 100px 100px;
    position: relative;
}
.main{
    display: grid;
    grid-template-columns: 6fr 6fr;
}
.one {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -30px;
    width: 85%;
    box-shadow: 0px 0px 10px 2px rgba(159,152,152,0.75);
}
.one button {
    padding: 10px 20px;
    background: #ea5566;
    color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
}
.one input {
    border: none;
    outline: none;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 15px;
}
.sars{
    border-left: 1px solid #62becb;
    height: 100%;
}
.one div {
    position: relative;
    font-size: 20px;
}
.one div i {
    position: absolute;
    left: 15px;
    top: 2px;
    color: #62becb;
  }
.fst .result label{
    float: right;
}

.fst{
    margin-top: 0px;
    height: 100%;
}
.result{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.result label select{
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
}
.boxes{
    margin-top: 20px;
}
.boxes .box{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: #fff;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 17px 0px #00000026;
    /* box-shadow: 0px 0px 5px 2px rgba(159,152,152,0.75); */
}
#act{
    background: #0F4A7B;
}
#act h3, #act h6, #act p{
    color: #fff;
}
#act button{
    color: #EA5566;
    background: #fff;
}
.box h3{
    line-height: 0px;
    color: #0F4A7B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.box h3 span{
    float: right;
}
.box h6{
    color: #0F4A7B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.box h6 i{
    margin-right: 5px;
    color: #62BECB;
}
.box p{
    color: #0F4A7B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-top: 0px; */
}

.box button{
    background: #EA5566;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.box span{
    align-self: flex-end;
}

.sec{
    margin-top: 40px;
    margin-left: 20px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.let{
    background-color: #fff;
    padding: 20px 40px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 17px 0px #00000026;
    /* box-shadow: 0px 0px 5px 2px rgba(159,152,152,0.75); */
}
.head::after{
    content: "";
    width: 100%;
    height: 0.4px;
    background: #EA5566;
    /* top: 20%; */
    left: 0;
    position: absolute;
}
.let h3{
    color: #0F4A7B;
}
.let h6{
    color: #0F4A7B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: 0px;
    font-weight: 100;
    margin-bottom: 0px;
}
.let h6 i{
    margin-right: 5px;
    color: #62BECB;
    font-size: 20px;
}
.let h4 a{
    padding: 5px 30px;
    background: #0F4A7B;
    color: #fff;
    font-weight: 200;
    line-height: 2px;
    margin-bottom: 2px;
    word-spacing: 2px;
    border-radius: 5px;
}
.detail{
    margin-top: 50px;
    color: #3E3E40;
    font-size: 14px;
}

.detail .list li{
    margin-bottom: 16px;
}
.buttons button{
    margin-right: 10px;
    padding: 5px 10px;
    background: #fff;
    outline: none;
    border: 0.02px solid #0F4A7B;
    border-radius: 3px;
}

.buttons .fit{
    background: #0F4A7B;
    color: #fff;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 100px;
    background: #0F4A7B;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link div{
    display: flex;
    flex-direction: column;
}
.link div a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.link h5{
    margin-bottom: 8px;
}
footer .logo{
    align-self: center;
}

.logo p span{
    font-style: italic;
    color: #62BECB;
}
.fontawe a{
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.28);
    font-size: 20px;
    border-radius: 50%;
}
footer div h4{
    text-align: center;
}
nav #check {
    display: none;
}
@media(max-width: 900px){
    header{
        padding: 20px;
    }
    header h1{
        font-size: 20px;
    }
    main{
        padding: 50px 10px;
    }
    .main{
        grid-template-columns: 1fr;
    }
    nav .nav-area {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    .one{
        flex-direction: column;
        width: 50%;
        position: relative;
    }
    .one div{
        font-size: 12px;
    }
    .one input{
        padding: 15px;
        font-size: 12px;
    }
    .sars{
        border-left: none;
    }
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #0F4A7B;
        overflow: hidden;
    }
    
    nav ul li a {
        color: #0F4A7B;
        text-decoration: none;
        display: block;
        padding: 0px 20px;
        /* border-bottom: 1px solid #aaa; */
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    nav #check {
        display: none;
    }
    nav ul a:hover{
        background-color: #fff;
        color: #0F4A7B;
    }
    nav .checkbtn {
        padding: 28px 50px;
        position: relative;
        float: right;
        cursor: pointer;
    }
    
    nav .checkbtn .nav-icon {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #fff;
        position: relative;
        transition: background .2s ease-out;
    }
    
    nav .checkbtn .nav-icon::before {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        transition: all .2s ease-out;
        top: 5px;
    }
    
    nav .checkbtn .nav-icon::after {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        transition: all .2s ease-out;
        top: -5px;
    }
    .find ul .active a{
        background-color: #0F4A7B;
        color: #fff;
        padding: 0px 20px;
        font-size: 16px;
        font-weight: 200;
        border-radius: 5px;
    }
    nav #check:checked~.nav-area {
        max-height: 250px;
    }
    
    nav #check:checked~.checkbtn .nav-icon {
        background: transparent;
    }
    
    nav #check:checked~.checkbtn .nav-icon::before {
        transform: rotate(-45deg);
        top: 0;
    }
    
    nav #check:checked~.checkbtn .nav-icon::after {
        transform: rotate(45deg);
        top: 0;
    }
    .fst{
        margin-right: 0px;
    }
    .sec{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    footer{
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center center;
    }
    .let{
        padding: 10px;
    }
}