body{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
main{
    display: grid;
    grid-template-columns: 6fr 6fr;
    background: #f5fcfb;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: space-between;
}
.right{
    background: #0F4A7B;
    padding: 20px 0px 20px 50px;
    position: relative;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.right .find{
    height: 40px;
    width: 100px;
}
.right::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 11%;
    background: #F57D7D;
    top: 0;
    left: 97%;
    transform: skewX(-8deg);
    transform-origin: right;
}
.right::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 10%;
    background: #0F4A7B;
    top: 0;
    left: 93%;
    transform: skewX(-5deg);
    transform-origin: right;
}
.inside{
    margin-top: 50px;
}
.inside h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: white;
    line-height: 35px;
    font-size: 40px;
    width: 300px;
}
.inside img{
    width: 500px;
    height: 300px;
}
.left{
    padding: 150px 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0F4A7B;
    align-self: flex-start;
    font-size: 30px;
    line-height: 2px;
}
.left div{
    margin-top: 0px;
    align-self: flex-start;
}
.left label h5{
    margin-bottom: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0F4A7B;
    font-weight: 100;
}
.left label input{
    height: 40px;
    width: 400px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid #0F4A7B;
    transition: 0.1s ease-in;
}

/* .left label input:hover{
    border: 3px solid #0F4A7B;
} */

.circle1{
    border: 3px solid #62BECB;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 88%;
}

.circle2{
    border: 2px solid #DD4033;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left: 85%;
}
.circle3{
    border: 2px solid #62BECB;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 80%;
}

.btn{
    padding: 12px 35px;
    margin-top: 20px;
    background: #0F4A7B;
    color: #fff;
    outline: none;
    border-radius: 5px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    display: block;
}

@media(max-width: 900px){
    main{
        grid-template-columns: 1fr;
    }
    .right::after,.right::before{
        display: none;
    }
    .right{
        padding: 10px;
    }
    .inside{
        align-self: center;
        margin-right: 0px;
    }
    .inside img{
        width: 320px;
        text-align: center;
    }
    .left{
        padding: 150px 20px;
        overflow: hidden;
        background: #dbfbff;
    }
    .left h3{
        align-self: center;
    }
    .left label input{
        width: 300px;
    }
}

@media(max-width: 1024px){
    body{
        overflow-x: scroll;
    }
    main{
        grid-template-columns: 1fr;
    }
    .right::after,.right::before{
        display: none;
    }
    .right{
        padding: 20px;
    }
    .inside{
        align-self: center;
    }
    .left h3{
        align-self: center;
    }
}
